<h3>About</h3>
<br>
<p>Welcome to Community Improvement App! This is a space for engaged citizens to feel empowered to bring change to their community. Is there something in your DC neighborhood that is in need of attention? Perhaps you'd like a </p>
<br>
<h5>How To Use This App</h5>
<p>Locate the relevant neighborhood, then post your concern or improvement idea.</p>
<p>Or you can go to a neighborhood page to browse existing ideas. Elevate others' posts by clicking "Support".</p>
<br>
<p></p>
