<div class="centered-intro">

  <h4>Welcome to Citizen Driven, an app designed to help communities members voice their ideas for improvements that should be made to their community.</h4>

  <h4>By allowing users to see others' posts, we hope to bring members together around pride in their community.</h4>

  <div class="dotted-outline">
      <h3><%= link_to "Begin Here", neighborhoods_path %></h3>
  </div>

</div>
