<h3 class="centered-title">Choose a DC Neighborhood to Post About:</h3>

<div class="neighborhood-container">
  <% @neighborhoods.each do |neighborhood| %>
    <a href="/neighborhoods/<%= neighborhood.id %>">
     <div class="individual-neighborhood">
        <img src="<%= neighborhood.photo_url %>" alt="<%= neighborhood.name %> photo" class="neighborhood-photo">
        <div class="neighborhood-name"><%= neighborhood.name %></div>
     </div>
    </a>
  <% end %>
</div>

<div class="bottom-nav">

</div>
