/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: 'PT Sans', sans-serif;
}

.inner-body {
  padding: 0% 10% 0% 10%;
  margin: 2% 5% 2% 5%;
}

header {
  font-family: 'Indie Flower', cursive;
  text-align: center;
  margin-top: 10px;
}

h1 {
  size: 70pt;
  text-decoration: none;
}

.tagline {
  font-style: italic;
  margin-top: -20px;
}

.neighborhood-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.individual-neighborhood {
  position: relative;
  text-align: center;
}

.neighborhood-photo {
  object-fit: cover;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  opacity: 50%;
}

.neighborhood-name {
  color: white;
  
  font-weight: bold;
  font-size: 18pt;
  position: absolute;
  top: 45%;
  width: 100%;
}

.title-banner {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h4 {

}

h5 {

}

#map {
  height: 250px;
  width: 400px;
}

.no-posts {
  font-style: italic;
}

.page-content-container {
  padding: 0% 20% 0% 20%;
  margin: 2% 10% 2% 10%;
}

.post-content {
  font-style: italic;
}

.form-elements {

}

.timestamp {

}

.bottom-nav {

}

.centered-title {
  color: #5a5e63;
  text-align: center;
}

footer {
  text-align: center;
}
