/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: 'PT Sans', sans-serif;
}

nav {
  font-size: 14pt;
}

.inner-body {
  padding: 0% 10% 0 10%;
  margin: 2% 5% -2% 5%;
}

header {
  text-align: center;
  text-decoration: none;
  margin-top: 10px;
}

footer {
  text-align: center;
  font-size: 14pt;
}

.dc-flag {
  height: 60px;
}

.citizen-driven {
  text-decoration: none;
  font-size: 60pt;
}

.tagline {
  font-family: 'Indie Flower', cursive;
  font-size: 24pt;
  font-style: italic;
  margin-top: -30px;
}

.centered-title {
  font-size: 20pt;
  color: #5a5e63;
  text-align: center;
}

.centered-intro {
  font-size: 16pt;
  padding: 2% 10% 2% 10%;
}

.dotted-outline {
  padding: 0 2% 0 2%;;
  margin: 0 38% 0 38%;
  border: dotted 1px gray;
  text-align: center;
}

.neighborhood-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.individual-neighborhood {
  position: relative;
  text-align: center;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: black;
}

.neighborhood-photo {
  object-fit: cover;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  opacity: 0.7;
}

.neighborhood-name {
  color: white;
  font-weight: bold;
  font-size: 18pt;
  position: absolute;
  top: 45%;
  width: 100%;
}

.title-banner {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.showpage-title {
 font-size: 25pt;
}

#quadrant {
  margin-top: -2%;
  margin-bottom: -1%;
}

#map {
  height: 250px;
  width: 400px;
}

.no-posts {
  font-style: italic;
}

.post-title {
  margin-bottom: 2%;
  font-size: 20pt;
}

.post-content {
  margin: 10% 10% 0 10%;
  font-size: 16pt;
}

.page-content-container {
  font-size: 16pt;
  padding: 0% 20% 0% 20%;
  margin: 2% 5% 2% 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-content-container img {
  display: block;
  max-width:200px;
  width: auto;
  height: auto;
  margin: auto;
}

.post-outline {
  padding: 0 2% 4% 2%;;
  margin-bottom: 10%;
  border: dotted 1px gray;
  text-align: center;
}

.bottom-nav {
  text-align: center;
  font-size: 16pt;
}

.post-details {
  line-height: 2pt;
}

.post-content {
  font-style: italic;
  margin-top: -5%;
}

.timestamp {
  line-height: 8pt;

}

.post-here {
  text-decoration: none;
}
