/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: 'PT Sans', sans-serif;
}

/* all static content (nav bar, header, footer) */
nav {
  font-size: 14pt;
}

header {
  text-align: center;
  text-decoration: none;
  margin-top: 10px;
  border-bottom: 2px solid gray;
}

footer {
  text-align: center;
  font-size: 14pt;
}

.citizen-driven {
  text-decoration: none;
  font-size: 60pt;
  color:#9b9ea1;
  text-shadow: 2px 2px black;
}

.dc-flag {
  height: 60px;
}

.tagline {
  font-family: 'Indie Flower', cursive;
  font-size: 24pt;
  font-style: italic;
  margin-top: -30px;
}

/* all non-static content */
.inner-body {
  padding: 0% 10% 0 10%;
  margin: 2% 5% -2% 5%;
}

/* first landing page */
.centered-intro {
  font-size: 16pt;
  padding: 2% 10% 2% 10%;
}

.begin-here {
  padding: 0 1% 0 1%;;
  margin: 0 38% 0 38%;
  border: solid 2px gray;
  text-align: center;
  text-decoration: none;
}

.begin-here:hover {
  padding: 0 2% 0 2%;;
  margin: 0 38% 0 38%;
  border: dotted 1px gray;
  background: gray;
  text-align: center;
}

/* .dotted-outline {
  padding: 0 2% 0 2%;;
  margin: 0 38% 0 38%;
  border: dotted 1px gray;
  text-align: center;
} */

/* neighborhood index page */
.centered-title {
  font-size: 20pt;
  color: #5a5e63;
  text-align: center;
}

.neighborhood-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.individual-neighborhood {
  position: relative;
  text-align: center;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: black;
}

.neighborhood-photo {
  object-fit: cover;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  opacity: 0.7;
}

.neighborhood-name {
  color: white;
  font-weight: bold;
  font-size: 18pt;
  position: absolute;
  top: 45%;
  width: 100%;
}

/* neighborhood show page */
.title-banner {
  position: relative;
  text-align: center;
  background: black;
  height: 200px;
  width: 400px;
  margin: 3% auto;
}

.citizen-voices-title {
  font-size: 25pt;
  color: white;
  position: absolute;
  top: 0;
  width: 100%;
}

.neighborhood-post-photo {
  object-fit: cover;
  height: 200px;
  width: 400px;
  opacity: 0.7;
}

.no-posts {
  font-style: italic;
  text-align: center;
}

.page-content-container {
  font-size: 16pt;
  padding: 0% 20% 0% 20%;
  margin: 2% 10% 2% 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hood-post {
  border: dotted 1px gray;
  text-align: center;
}

.post-here {
  padding: 4% 0% 4% 0%;
  border: dotted 1px gray;
  text-align: center;
}

#name {
  margin-top: -10%;
}

#quadrant {
  font-size: 16pt;
  margin-top: -1%;
  margin-bottom: -1%;
}

/* post show page */
.post-title-banner {
  text-align: center;
}

.post-title {
  margin-bottom: 7%;
  font-size: 20pt;
}

.post-content {
  margin: 10% 10% 0 10%;
  font-size: 16pt;
  color: gray;
}

.bottom-nav {
  text-align: center;
  font-size: 16pt;
}

.post-details {
  line-height: 2pt;
}

.post-content {
  font-style: italic;
  margin-top: -5%;
}

.timestamp {
  line-height: 8pt;

}
